@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@utility container {
	margin-inline: auto;
	padding-inline:  1rem;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 75.125rem;

  /* Colors */
    --color-black-heading: #1C2B38;
    --color-dark-80: #495560;
    --color-dark-60: #778088;
    --color-green: #7BBCB0;
    --color-red: #FF6969;
    --color-blue: #59A9FE;
    --color-purple: #D176E0;
    --color-yellow: #E4B613;

  /* Font Family */

  --font-mulish: 'Mulish', sans-serif;
  --font-volkhov: 'Volkhov', serif;
}
